<mat-dialog-content>
  <header>
    <h2>Ordner löschen</h2>
  </header>

  <div class="form-division">
    <p>Soll der Ordner</p>
    <h3 class="form-input-not-valid-label">{{directory}}</h3>
    <p>mit allen Unterdateien wirklich gelöscht werden?</p>
  </div>

  <div class="form-division">
    <h1>Diese Aktion kann nicht rückgängig gemacht werden!</h1>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="onCancel()">Nein</button>
  <button mat-button  (click)="onSave()">Ja</button>
</mat-dialog-actions>
