<div class="horizontal-div">

  <button class="primary-button" (click)="onCreateDirectory()">
    <img ngSrc="assets/document-management/create-folder.png" height="20" width="20" alt="New Dir">
  </button>
  <button class="primary-button" (click)="onUploadDocument()">
    <img ngSrc="assets/document-management/upload-document.png" height="20" width="20" alt="Upload Doc">
  </button>
  <button (click)="onUploadFolder()" class="primary-button">
    <img alt="Upload Dir" height="20" ngSrc="assets/document-management/upload-folder.png" width="20">
  </button>

  <button [ngClass]="enableDeleteDirectoryButton ? 'secondary-button' : 'disabled-button'" (click)="deleteDirectory()">
    <img ngSrc="assets/document-management/delete-folder.png" height="20" width="20" alt="Delete Dir">
  </button>
  <button (click)="deleteDocument()" [ngClass]="enableDeleteDocumentButton ? 'secondary-button' : 'disabled-button'">
    <img ngSrc="assets/document-management/delete-document.png" height="20" width="20" alt="Delete Doc">
  </button>
</div>
