<div class="file-explorer-all-files vertical-scroll-pane">
  <div *ngIf="showGoToUpperDir" class="horizontal-div file-explorer-file" (dblclick)="onGoToUpperDir()">
    <img ngSrc="assets/document-management/folder.png" height="30" width="30" alt="Dir">
    <p class="file-explorer-file-name">..</p>
  </div>

  <div (click)="onSelectDir(dir.uiId)" (dblclick)="onGoToDeeperDir(dir.document.filePath.filePath)"
       *ngFor="let dir of childDirs" [ngClass]="getCSSClass(dir.uiId)">
    <img ngSrc="assets/document-management/folder.png" height="30" width="30" alt="Dir">
    <p class="file-explorer-file-name">{{ dir.document.currentDirectoryName() }}</p>
  </div>

  <div *ngFor="let doc of childDocuments" [ngClass]="getCSSClass(doc.uiId)" (click)="onSelectDir(doc.uiId)">
    <img ngSrc="assets/document-management/document.png" height="30" width="30" alt="Doc">
    <p class="file-explorer-file-type">{{ doc.document.document?.fileType?.fileEnding }}</p>
    <p class="file-explorer-file-name">{{ doc.document.document?.documentName }}</p>
    <div class="horizontal-div document-controls-container">
      <img (click)="editDocument(doc)" alt="Edit" class="document-control" height="25"
           ngSrc="assets/shared/edit-pencil.png" width="25">
      <img (click)="downloadDocument(doc)" alt="Download" class="document-control" height="25"
           ngSrc="assets/document-management/download.png" width="25">
    </div>
  </div>
</div>
