/*
Body and HTML
 */

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body{
  background-color: #f0f0f0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*
Menu Bar
 */

.menu-bar{
  margin-top: 15px;
  margin-left: 15px;
}
.menu-bar button{
  margin-left: 10px;
}

/*
Forms
 */

.form-input-not-valid-label{
  color: red;
  margin-top: 2px;
  font-size: 0.8rem;
}
.form-division {
  margin-bottom: 25px;
  width: 100%;
}

.form-input{
  margin-bottom: 10px;
  width: 100%;
}

.form-input-field{
  width: 100%;
}

.form-input-horizontal{
  display: flex;
  flex-direction: row;
}

.form-input-horizontal *:not(:last-child){
  margin-right: 5px;
}

/*
MatDialogs
 */

div.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align{
  height: 0;
}

mat-dialog-content.mat-mdc-dialog-content.mdc-dialog__content{
  height: 100%;
}

mat-dialog-content.mdc-dialog__content{
  max-height: 100%;
}

.mat-mdc-dialog-actions{
  margin-top: auto;
}

/*
Mat-Tab-Pane
 */

.mat-mdc-tab-group{
  height: 100%;
  width: 100%;
}

.mat-mdc-tab-body-wrapper{
 margin: 10px;
}

  /*
  Buttons
   */

button {
  width: 8%;
  height: 4%;
  margin: 5px;
}

.primary-button{

  background-image: radial-gradient(#98c0d9, #6392b0);
  border-radius: 5px;
  color: white;
  border: 2px solid #6392b0;
  box-shadow: 2px -1px rgba(26, 26, 26, 0.3);
  font-weight: bold;
  font-size: 1.0rem;
  text-shadow:1px 1px black;
}

.primary-button:hover{
  background-image: radial-gradient(#3a4146, #3a4146);
  color: #65ebf6;
  border: 2px solid #3a4146;
  box-shadow: 3px -2px rgba(26, 26, 26, 0.3);
}

.secondary-button{
  border-radius: 5px;
  color: #145279;
  border: 2px solid #98c0d9;
  font-weight: bold;
}

.secondary-button:hover{

  color: #6094b4;
  border: 2px solid #145279;
}

.disabled-button{
  border: 2px solid gray;
  border-radius: 5px;
}

/*
Date-Picker
 */

input[type="date"]{
  margin-left: 5px;
  border-radius: 2px;
  color: black;
  border: 2px solid #6392b0;
  font-size: 1.0rem;
}


/*
Time-Picker
 */
input[type="time"]{
  margin-left: 5px;
  border-radius: 2px;
  color: black;
  border: 2px solid #6392b0;
  font-size: 1.0rem;
}

/*
Select-Box
 */

select{
  margin-left: 5px;
  border-radius: 2px;
  color: black;
  border: 2px solid #6392b0;
  font-size: 1.0rem;
}

select:disabled {

  border: 2px solid gray;
}

.wide-select {
  width: 400px;
}

/*
Layout
 */

.no-bottom-margin{
  margin: 0 0 0;
}

.horizontal-div {
  display: flex;
  flex-direction: row;
}

.div-margin {
  margin: 4px;
}

/*
Separator
 */

.right-vertical-border-separator {
  border-right: 2px solid dimgray;
  position: relative;
}

.vertical-separator {
  border-right: 2px solid dimgray;
  height: 100%;
  width: 2px;
  position: relative;
}

.horizontal-separator-big {
  border-top: 4px solid dimgray;
  width: 100%;
  height: 4px;
  position: relative;
}

.horizontal-separator-small {
  border-top: 2px solid dimgray;
  width: 100%;
  height: 2px;
  position: relative;
}


/*
Scrolling
 */

.vertical-scroll-pane{
  overflow-y: auto;
}
