html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body{
  background-color: #f0f0f0;
}

.menu-bar{
  margin-top: 15px;
  margin-left: 15px;
}
.menu-bar button{
  margin-left: 10px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-input-not-valid-label{
  color: red;
  margin-top: 2px;
  font-size: 0.8rem;
}

div.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align{
  height: 0;
}

mat-dialog-content.mat-mdc-dialog-content.mdc-dialog__content{
  height: 100%;
}

mat-dialog-content.mdc-dialog__content{
  max-height: 100%;
}

.form-division {
  margin-bottom: 25px;
  width: 100%;
}

.form-input{
  margin-bottom: 10px;
  width: 100%;
}

.form-input-field{
  width: 100%;
}

.form-input-horizontal{
  display: flex;
  flex-direction: row;
}

.form-input-horizontal *:not(:last-child){
  margin-right: 5px;
}
