<div id="menuBarWrapper">
  <img ngSrc="assets/menubar/dashboard.png" height="40" width="40" class="menuBarItem" (click)="rootToDashboard()" alt="Dashboard">
  <img ngSrc="assets/menubar/to-do-list.png" height="40" width="40" class="menuBarItem" (click)="rootToToDoList()" alt="To-Do-List">
  <img ngSrc="assets/menubar/working-hours.png" height="40" width="40" class="menuBarItem" (click)="rootToWorkingHours()" alt="Working-Hours">
  <img ngSrc="assets/menubar/customer.png" height="40" width="40" class="menuBarItem" (click)="rootToCustomers()" alt="Customers">
  <img ngSrc="assets/menubar/project.png" height="40" width="40" class="menuBarItem" (click)="rootToProjects()" alt="Projects">
  <img ngSrc="assets/menubar/income.png" height="40" width="40" class="menuBarItem" (click)="rootToIncome()" alt="Income">
  <img ngSrc="assets/menubar/document.png" height="40" width="40" class="menuBarItem" (click)="rootToDocuments()" alt="Documents">
  <img ngSrc="assets/menubar/setting.png" height="40" width="40" class="menuBarItem" (click)="rootToSettings()" alt="Settings">
</div>
