<div>
  <div class="horizontal-div div-margin">
  <div class="div-margin" id="add-working-hour-menu-bar-date-time-recording">
    <div class="div-margin">
      <label for="add-working-hour-date">Datum:</label>
      <input type="date" id="add-working-hour-date" [value]="currentDate" (change)="dateChangedEvent($event)">
      <p class="form-input-not-valid-label" *ngIf="!workingHourDateValid">Datum erforderlich</p>
    </div>
    <div class="horizontal-div">
      <div class="div-margin">
        <label for="add-working-hour-from-time">Von:</label>
        <input type="time" id="add-working-hour-from-time" (change)="fromTimeChangedEvent($event)">
        <p class="form-input-not-valid-label" *ngIf="!workingHourStartTimeValid">Start erforderlich</p>
      </div>
      <div class="div-margin">
        <label for="add-working-hour-to-time">Bis:</label>
        <input type="time" id="add-working-hour-to-time" (change)="toTimeChangedEvent($event)">
        <p class="form-input-not-valid-label" *ngIf="!workingHourEndTimeValid">Ende erforderlich</p>
      </div>
      <div class="div-margin">
        <p class="no-bottom-margin">Dauer: {{workingHourDuration}}</p>
        <p class="form-input-not-valid-label" *ngIf="!workingHourDurationValid">Start muss vor dem Ende liegen</p>
      </div>
    </div>
  </div>
  <div class="div-margin">
    <div class="div-margin">
      <label for="add-working-hour-customer">Kunde:</label>
      <select class="wide-select" id="add-working-hour-customer" (change)="customerChanges($event)">
        <option [ngValue]="undefined">----</option>
        <option *ngFor="let customer of allCustomers" [ngValue]="customer">{{ customer.companyName }}</option>
      </select>
      <p class="form-input-not-valid-label" *ngIf="!customerValid">Kunde erforderlich</p>
    </div>
    <div class="div-margin">
      <label for="add-working-hour-project">Projekt:</label>
      <select class="wide-select" id="add-working-hour-project" (change)="projectChanges($event)" [disabled]="projectsForCustomer.length === 0">
        <option>----</option>
        <option *ngFor="let project of projectsForCustomer" [ngValue]="project">{{ project.title }}</option>
      </select>
      <p class="form-input-not-valid-label" *ngIf="!projectValid">Projekt erforderlich</p>
    </div>
  </div>
  </div>
  <div>
    <button (click)="save()" class="primary-button">Speichern</button>
  </div>
</div>
