<mat-dialog-content>
  <header>
    <h2>Projekt löschen</h2>
  </header>

  <div class="form-division">
    <p>Es wird ur das Projekt gelöscht. Alle anderen Daten, wie: </p>
    <ul>
      <li>Verträge</li>
      <li>Rechnungen</li>
      <li>...</li>
    </ul>
    <p>bleiben erhalten.</p>
  </div>

  <h2>Diese Aktion kann nicht rückgängig gemacht werden</h2>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-button cdkFocusInitial (click)="deleteTodo()">Löschen</button>
</mat-dialog-actions>

