<mat-dialog-content [formGroup]="form">
  <header>
    <h2>Kunde hinzufügen</h2>
  </header>

  <div class="form-division">
    <h3>Kunden-Daten</h3>
    <div class="form-input">
      <mat-form-field class="form-input-field">
        <input matInput placeholder="Firmen-Name" type="text" id="name" required formControlName="customerName">
      </mat-form-field>
      <div class="form-input-not-valid-label" *ngIf="customerNameNotValid">Firmen-Name erforderlich</div>
    </div>
  </div>

  <div class="form-division">

    <h3>Kontakt-Person</h3>

    <div class="form-input form-input-horizontal">
      <mat-form-field class="form-input-field">
        <input matInput type="text" formControlName="contactPersonFirstName" placeholder="Vorname">
      </mat-form-field>
      <mat-form-field class="form-input-field">
        <input matInput type="text" formControlName="contactPersonLastName" placeholder="Nachname">
      </mat-form-field>
    </div>

    <div class="form-input">
      <mat-form-field class="form-input-field">
        <input matInput type="email" formControlName="contactPersonEMail" placeholder="E-Mail">
      </mat-form-field>
    </div>

    <div class="form-input">
      <mat-form-field class="form-input-field">
        <input matInput type="tel" formControlName="contactPersonPhoneNumber" placeholder="Telefon-Nummer">
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-button cdkFocusInitial (click)="saveCustomer()">Speichern</button>
</mat-dialog-actions>
