<mat-tab-group>
  <mat-tab label="Kunden-Daten" [formGroup]="editCustomerDataForm" [ngClass]="">
    <ng-template matTabContent>
      <div>
        <h2>Firmen-Daten</h2>
        <mat-form-field class="form-input-field">
          <input matInput type="text" formControlName="customerName" placeholder="Firmen-Name">
          <div class="form-input-not-valid-label" *ngIf="customerNameNotValid">Firmen-Name erforderlich</div>
        </mat-form-field>
      </div>

      <div>
        <h2>Adresse</h2>
        <div class="form-input-horizontal">
          <mat-form-field class="form-input-field">
            <input matInput type="text" formControlName="addressStreet" placeholder="Straße">
          </mat-form-field>
          <mat-form-field class="form-input-field">
            <input matInput type="text" formControlName="addressHouseNumber" placeholder="Hausnummer">
          </mat-form-field>
        </div>
        <div class="form-input-horizontal">
          <mat-form-field class="form-input-field">
            <mat-select formControlName="addressCountry" [(value)]="country">
              <mat-option>----</mat-option>
              <mat-option *ngFor="let country of countryValues" value="{{country}}">{{ country }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-input-field">
            <input matInput type="text" formControlName="addressZipCode" placeholder="PLZ">
          </mat-form-field>
          <mat-form-field class="form-input-field">
            <input matInput type="text" formControlName="addressCity" placeholder="Ort">
          </mat-form-field>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Kontakt-Personen">
    <ng-template matTabContent>
      <div>
        <div>
          <button class="primary-button" (click)="addContactPerson()"><img ngSrc="assets/shared/add-person.png" alt="Edit" height="12" width="12">Hinzufügen</button>
        </div>
        <div>
          <div *ngFor="let contactPerson of contactPersons" class="form-input-horizontal">
            <mat-form-field>
              <mat-select placeholder="Position" [value]="contactPerson.position ? contactPerson.position.position : undefined" (selectionChange)="contactPersonPositionInput($event, contactPerson)">
                <mat-option [value]="undefined">----</mat-option>
                <mat-option *ngFor="let position of positionValues" [value]="position" [matTooltip]="position.description">{{ position.position }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" placeholder="Vorname" value="{{contactPerson.firstName}}" (input)="contactPersonFirstNameInput($event, contactPerson)">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" placeholder="Nachname" value="{{contactPerson.lastName}}" (input)="contactPersonLastNameInput($event, contactPerson)">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="email" placeholder="E-Mail" value="{{contactPerson.email}}" (input)="contactPersonEMailInput($event, contactPerson)">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="tel" placeholder="Telefonnummer" value="{{contactPerson.phoneNumber}}" (input)="contactPersonPhoneNumberInput($event, contactPerson)">
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Kontaktgrund" [value]="contactPerson.reasonForContact ? contactPerson.reasonForContact.reason : undefined" (selectionChange)="contactPersonReasonForContactInput($event, contactPerson)">
                <mat-option [value]="undefined">----</mat-option>
                <mat-option *ngFor="let reason of reasonValues" [value]="reason" [matTooltip]="reason.description">{{ reason.reason }}</mat-option>
              </mat-select>
            </mat-form-field>
            <button [ngClass]="deleteButtonClass" (click)="deleteContactPerson(contactPerson)"><img ngSrc="assets/shared/delete-trash-bin.png" alt="Delete" height="30" width="30"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Projekte"> Content 3</mat-tab>
  <mat-tab label="TODO's"></mat-tab>
</mat-tab-group>

<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="close()">Abbrechen</button>
  <button mat-button cdkFocusInitial (click)="save()">Speichern</button>
</mat-dialog-actions>
