<!--  <div>-->
<!--    <p>Kontaktpersonen</p>-->

<!--    <div>-->
<!--      <button>Löschen</button>-->
<!--      <button (click)="addContactPerson()">Hinzufügen</button>-->
<!--    </div>-->

<!--    <div>-->
<!--      <div *ngFor="let person of contactPersons">-->
<!--        <select class="add-customer-dialog-contact-person-position">-->
<!--          <option *ngFor="let position of positions">{{position}}</option>-->
<!--        </select>-->
<!--        <input class="add-customer-dialog-contact-person-first-name" type="text" placeholder="Vorname" value="{{person.firstName}}">-->
<!--        <input class="add-customer-dialog-contact-person-first-name" type="text" placeholder="Nachname" value="{{person.lastName}}">-->
<!--        <select class="add-customer-dialog-contact-person-reason-for-contact">-->
<!--          <option *ngFor="let reason of reasonsForContact">{{reason}}</option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
